In [91]:
# Given a credit card csv file in Nationwide (UK) format,
# generate a csv format acceptable to Homebank.
# Nationwide excludes location data from its ofx output,
# hence no ofx conversion here.
# Homebank - it turns out that the [info] and [tag] fields are never 
# exported to the QIF format. But they can be exported
# as the native .XHB format, so may have some value.
# Given the total absence of good practice here, there are 
# many todos.

# include these in requirements.txt:
import pandas as pd
import pprint
import glob
import os
import configparser
from datetime import datetime

# Note the encoding as delivered by Nationwide
nw_encoding = 'cp1252'


def create_config():
    config = configparser.ConfigParser()
    config['General'] = {'debug': True, 'log_level': 'info'}
    config['Database'] = {'db_name': 'example_db', 'db_host': 'localhost', 'db_port': '5432'}
    config['TransactionConfig'] = {'cc_txn_source_path': r'nonsense', 'x': '22', 'y': '44'}

    with open('config.ini', 'w') as configfile:
        config.write(configfile)

def read_config():
    config = configparser.ConfigParser()
    config.read('config.ini')

    debug_mode = config.getboolean('General', 'debug')
    log_level = config.get('General', 'log_level')
    cc_txn_source_path = config.get('TransactionConfig', 'cc_txn_source_path')
    db_host = config.get('Database', 'db_host')
    db_port = config.get('Database', 'db_port')

    config_values = {
        'debug_mode': debug_mode,
        'log_level': log_level,
        'cc_txn_source_path': cc_txn_source_path
    }
    return config_values




def convert_nw_to_homebank_csv(in_file, out_file):
     # get the file content into a df
    input_df = pd.read_csv(in_file, skiprows=4, encoding=nw_encoding)

    #perform basic data manipulation
    output_df = pd.DataFrame({
        "Date": input_df["Date"],
        "payment type": 1,  # placeholder
        "info": "info 1",  # placeholder
        "Transactions": input_df["Transactions"],
        "Location": input_df["Location"],
        "Paid out": input_df["Paid out"].astype(str).str.replace("", ""),
        "Paid in": input_df["Paid in"].astype(str).str.replace("", ""),
        "category": "category 1",  # placeholder
        "Tags": "tag1 tag2"  # placeholder
    })
    
    # Do the more complex stuff in a second pass
    # When looking through Homebank transactions, it is useful to know where
    # one statement ends, and another starts
    output_df.loc[0,'info'] = 'First transaction in statement'
    output_df.loc[output_df.index[-1],'info'] = 'Last transaction in statement'
    
    output_df.fillna(0,inplace=True)
    output_df["Paid out"] = output_df["Paid out"].astype(float)
    output_df["Paid in"] = output_df["Paid in"].astype(float)
    output_df["Paid"] = output_df.apply(lambda row: (row["Paid out"] * -1) if row["Paid out"] > 0.0 else row["Paid in"], axis = 1)
    output_df["Date"] = pd.to_datetime(output_df["Date"], format="%d %b %Y")
    
    # Finally in a form that HomeBank can ingest:
    columns_to_delete = ["Paid out", "Paid in"] 
    output_df.drop(columns=columns_to_delete, inplace=True)
    desired_order = [0,1,2,3,4,7,5,6]
    output_df = output_df.iloc[:, desired_order]
    
    pprint.pprint(output_df) # debug
    
    output_df.to_csv(out_file, sep=";", index=False, header=False)

def convert_nw_transactions():
    config_data = read_config()
    x = config_data['cc_txn_source_path']
    print("Debug Mode:", x)
    in_dir = x
    #in_dir = r'D:\onedrive\data\HouseHold\CreditCard\NationwideCC'
    xx = f'{in_dir}/*Statement Download*.csv'
    print(xx)
    for f in glob.iglob(f'{in_dir}/*Statement Download*.csv'):
        print(f)
        file_name = os.path.basename(f)
        out_file=f'{in_dir}/{file_name[0:2]}_output.csv'
        print(out_file)
        convert_nw_to_homebank_csv(f, out_file)

convert_nw_transactions()

#create_config()

Debug Mode: D:/onedrive/data/HouseHold/CreditCard/NationwideCC
D:/onedrive/data/HouseHold/CreditCard/NationwideCC/*Statement Download*.csv
D:/onedrive/data/HouseHold/CreditCard/NationwideCC\01 - 12 05 2023 Statement Download start.csv
D:/onedrive/data/HouseHold/CreditCard/NationwideCC/01_output.csv
        Date  payment type                            info  \
0 2023-05-12             1  First transaction in statement
1 2023-05-14             1                          info 1
2 2023-05-16             1                          info 1
3 2023-05-17             1                          info 1
4 2023-05-18             1                          info 1
5 2023-05-18             1                          info 1
6 2023-05-18             1                          info 1
7 2023-05-23             1                          info 1
8 2023-05-23             1   Last transaction in statement

                    Transactions    Location   Paid    category       Tags
0      BOOTS OPTICIANS  ApplePay     EXMOUTH  -8.98  category 1  tag1 tag2
1                LIDL GB EXMOUTH     EXMOUTH -14.22  category 1  tag1 tag2
2          eBay O*13-10065-61792      LONDON  -2.98  category 1  tag1 tag2
3    Exmouth Cycles  Contactless     Exmouth -40.00  category 1  tag1 tag2
4         THE GLOBE  Contactless     TOPSHAM -13.50  category 1  tag1 tag2
5  STGCOACH/CTYLINK  Contactless  BUS TICKET  -2.00  category 1  tag1 tag2
6  STGCOACH/CTYLINK  Contactless  BUS TICKET  -2.00  category 1  tag1 tag2
7                   ITVX PREMIUM      LONDON  -2.99  category 1  tag1 tag2
8          eBay O*12-10090-64761      LONDON -11.52  category 1  tag1 tag2
D:/onedrive/data/HouseHold/CreditCard/NationwideCC\02 - 24 05 2023 Statement Download start.csv
D:/onedrive/data/HouseHold/CreditCard/NationwideCC/02_output.csv
         Date  payment type                            info  \
0  2023-05-24             1  First transaction in statement
1  2023-05-24             1                          info 1
2  2023-05-24             1                          info 1
3  2023-05-24             1                          info 1
4  2023-05-27             1                          info 1
5  2023-05-27             1                          info 1
6  2023-06-02             1                          info 1
7  2023-06-04             1                          info 1
8  2023-06-04             1                          info 1
9  2023-06-05             1                          info 1
10 2023-06-05             1                          info 1
11 2023-06-09             1                          info 1
12 2023-06-10             1                          info 1
13 2023-06-12             1                          info 1
14 2023-06-15             1                          info 1
15 2023-06-15             1                          info 1
16 2023-06-15             1                          info 1
17 2023-06-18             1                          info 1
18 2023-06-19             1                          info 1
19 2023-06-20             1                          info 1
20 2023-06-22             1                          info 1
21 2023-06-22             1   Last transaction in statement

                       Transactions       Location    Paid    category  \
0     J D WETHERSPOON PLC  ApplePay        WATFORD   -3.21  category 1
1     J D WETHERSPOON PLC  ApplePay        WATFORD   -9.62  category 1
2     J D WETHERSPOON PLC  ApplePay        WATFORD   -6.49  category 1
3   GEORGES MEETING HO  Contactless         EXETER   -0.75  category 1
4            Amazon.co.uk*LY3BZ0AN5   AMAZON.CO.UK -109.99  category 1
5      LIDL GB EXMOUTH  Contactless        EXMOUTH  -13.62  category 1
6                      MEACO UK LTD  GUILDFORD SUR  -89.99  category 1
7         NEWELL RESTAURANT AND ROO      SHERBORNE -110.00  category 1
8            TESCO PAY AT PUMP 3955        EXMOUTH  -71.65  category 1
9        HALFORDS 0356  Contactless        EXMOUTH   -8.00  category 1
10                 WWW.SCREWFIX.COM         YEOVIL   -5.02  category 1
11                 DVLA VEHICLE TAX   0300 1234321 -200.00  category 1
12                        Readly AB        Vaexjoe   -5.99  category 1
13                 WWW.SCREWFIX.COM         YEOVIL  -70.00  category 1
14        THE SWAN INN  Contactless        EXMOUTH  -10.00  category 1
15        THE SWAN INN  Contactless        EXMOUTH   -3.00  category 1
16        THE SWAN INN  Contactless        EXMOUTH  -14.00  category 1
17             DIRECT DEBIT PAYMENT              0   98.19  category 1
18     LIDL GB EXMOUTH  Contactless        EXMOUTH  -15.01  category 1
19                  TESCO INSURANCE      EDINBURGH -177.93  category 1
20                     AMZNMktplace   amazon.co.uk   -9.98  category 1
21           amazon.co.uk*JB3ZM5DD5   353-12477661   -1.19  category 1

         Tags
0   tag1 tag2
1   tag1 tag2
2   tag1 tag2
3   tag1 tag2
4   tag1 tag2
5   tag1 tag2
6   tag1 tag2
7   tag1 tag2
8   tag1 tag2
9   tag1 tag2
10  tag1 tag2
11  tag1 tag2
12  tag1 tag2
13  tag1 tag2
14  tag1 tag2
15  tag1 tag2
16  tag1 tag2
17  tag1 tag2
18  tag1 tag2
19  tag1 tag2
20  tag1 tag2
21  tag1 tag2
D:/onedrive/data/HouseHold/CreditCard/NationwideCC\03 - 23 06 2023 Statement Download start.csv
D:/onedrive/data/HouseHold/CreditCard/NationwideCC/03_output.csv
         Date  payment type                            info  \
0  2023-06-23             1  First transaction in statement
1  2023-06-24             1                          info 1
2  2023-06-24             1                          info 1
3  2023-06-29             1                          info 1
4  2023-06-29             1                          info 1
5  2023-06-30             1                          info 1
6  2023-06-30             1                          info 1
7  2023-06-30             1                          info 1
8  2023-06-30             1                          info 1
9  2023-06-30             1                          info 1
10 2023-07-01             1                          info 1
11 2023-07-02             1                          info 1
12 2023-07-03             1                          info 1
13 2023-07-04             1                          info 1
14 2023-07-06             1                          info 1
15 2023-07-06             1                          info 1
16 2023-07-06             1                          info 1
17 2023-07-07             1                          info 1
18 2023-07-07             1                          info 1
19 2023-07-09             1                          info 1
20 2023-07-10             1                          info 1
21 2023-07-12             1                          info 1
22 2023-07-12             1                          info 1
23 2023-07-14             1                          info 1
24 2023-07-14             1                          info 1
25 2023-07-14             1                          info 1
26 2023-07-16             1                          info 1
27 2023-07-17             1                          info 1
28 2023-07-19             1                          info 1
29 2023-07-21             1                          info 1
30 2023-07-21             1                          info 1
31 2023-07-22             1                          info 1
32 2023-07-23             1                          info 1
33 2023-07-23             1   Last transaction in statement

                                         Transactions       Location    Paid  \
0                                        ITVX PREMIUM         LONDON   -2.99
1                                        AMZNMktplace   amazon.co.uk  -39.57
2                                LIGHTER  Contactless        TOPSHAM   -8.35
3                                    RING YEARLY PLAN        WC1V7QH  -34.99
4                                SHELL SALTERTON ROAD          DEVON  -51.11
5                      TESCO STORES 2490  Contactless        EXMOUTH  -63.00
6                      TESCO STORES 2490  Contactless        EXMOUTH  -72.23
7                                   TESCO STORES 2490        EXMOUTH   63.00
8                                     VOUCHER EXPRESS          RIPON  -50.00
9                        LIDL GB EXMOUTH  Contactless        EXMOUTH  -16.38
10                            GRAPE TREE  Contactless          DEVON   -9.99
11                                 NATIVE INSTRUMENTS     BIRMINGHAM  -89.50
12                          Fairfield House Dental Su         Exeter -600.00
13                         RYDERS BAKERY  Contactless    DAWLISH EX7   -8.75
14                                       AMZNMktplace   amazon.co.uk   -7.48
15                                       AMZNMktplace   amazon.co.uk  -19.37
16             Baskervilles ice cream an  Contactless   Newton Abbot  -29.85
17                       LIDL GB EXMOUTH  Contactless        EXMOUTH  -14.90
18                             STARBUCKS  Contactless         EXETER   -8.33
19              IKEA LTD 548 EXETER IKEA  Contactless         EXETER   -1.75
20                                          Readly AB        Vaexjoe   -5.99
21                                      SPLIT MY FARE        MORPETH -141.84
22                        SQ *HANGTIME CAFE  ApplePay        Exmouth   -2.80
23                             amazon.co.uk*912FI1QN5   353-12477661   -0.99
24                             amazon.co.uk*3P37M83P5   353-12477661   -0.99
25                             amazon.co.uk*KJ0UE6X75   353-12477661   -0.99
26                                       AMZNMktplace   amazon.co.uk   -5.99
27                                   WWW.SCREWFIX.COM         YEOVIL   -6.00
28                               DIRECT DEBIT PAYMENT              0  872.44
29                                   NOW 644E3 Cinema         London   -1.00
30                                     RINGGO PARKING      MAIDSTONE   -2.70
31  GUMRD.COM* JAN VAN DEN  28.92US Dollar at 1.28...  HTTPSGUMROAD.  -22.57
32                                       ITVX PREMIUM         LONDON   -2.99
33                     TESCO STORES 2490  Contactless        EXMOUTH   -2.47

      category       Tags
0   category 1  tag1 tag2
1   category 1  tag1 tag2
2   category 1  tag1 tag2
3   category 1  tag1 tag2
4   category 1  tag1 tag2
5   category 1  tag1 tag2
6   category 1  tag1 tag2
7   category 1  tag1 tag2
8   category 1  tag1 tag2
9   category 1  tag1 tag2
10  category 1  tag1 tag2
11  category 1  tag1 tag2
12  category 1  tag1 tag2
13  category 1  tag1 tag2
14  category 1  tag1 tag2
15  category 1  tag1 tag2
16  category 1  tag1 tag2
17  category 1  tag1 tag2
18  category 1  tag1 tag2
19  category 1  tag1 tag2
20  category 1  tag1 tag2
21  category 1  tag1 tag2
22  category 1  tag1 tag2
23  category 1  tag1 tag2
24  category 1  tag1 tag2
25  category 1  tag1 tag2
26  category 1  tag1 tag2
27  category 1  tag1 tag2
28  category 1  tag1 tag2
29  category 1  tag1 tag2
30  category 1  tag1 tag2
31  category 1  tag1 tag2
32  category 1  tag1 tag2
33  category 1  tag1 tag2
D:/onedrive/data/HouseHold/CreditCard/NationwideCC\04 - 24 07 2023 Statement Download start.csv
D:/onedrive/data/HouseHold/CreditCard/NationwideCC/04_output.csv
         Date  payment type                            info  \
0  2023-07-24             1  First transaction in statement
1  2023-07-24             1                          info 1
2  2023-07-26             1                          info 1
3  2023-07-27             1                          info 1
4  2023-07-29             1                          info 1
5  2023-07-29             1                          info 1
6  2023-07-31             1                          info 1
7  2023-08-02             1                          info 1
8  2023-08-02             1                          info 1
9  2023-08-02             1                          info 1
10 2023-08-03             1                          info 1
11 2023-08-03             1                          info 1
12 2023-08-04             1                          info 1
13 2023-08-05             1                          info 1
14 2023-08-06             1                          info 1
15 2023-08-08             1                          info 1
16 2023-08-09             1                          info 1
17 2023-08-09             1                          info 1
18 2023-08-10             1                          info 1
19 2023-08-10             1                          info 1
20 2023-08-10             1                          info 1
21 2023-08-11             1                          info 1
22 2023-08-12             1                          info 1
23 2023-08-13             1                          info 1
24 2023-08-14             1                          info 1
25 2023-08-15             1                          info 1
26 2023-08-17             1                          info 1
27 2023-08-18             1                          info 1
28 2023-08-18             1                          info 1
29 2023-08-20             1                          info 1
30 2023-08-20             1                          info 1
31 2023-08-21             1                          info 1
32 2023-08-21             1                          info 1
33 2023-08-22             1   Last transaction in statement

                              Transactions       Location     Paid  \
0                             AMZNMktplace   amazon.co.uk    -4.99
1   Fairfield House Dental Su  Contactless         Exeter   -45.00
2                IKEA LTD 548 EXETER EXPRE         EXETER  -104.75
3                   amazon.co.uk*5G62F5S45   353-12477661    -0.99
4             LIDL GB EXMOUTH  Contactless        EXMOUTH   -19.26
5            SPORTSDIRECT 185  Contactless    08443325185   -16.99
6                           TOOLSTATION UK    NORTHAMPTON   -10.39
7                             AMZNMktplace   amazon.co.uk    -9.36
8       ZETTLE_*SH EXETER LTD  Contactless     GLOUCESTER   -31.34
9                         WWW.SCREWFIX.COM         YEOVIL    -5.05
10              HALFORDS 0356  Contactless        EXMOUTH    -8.00
11               Fairfield House Dental Su         Exeter  -170.00
12     HOTTER COMFORT CONCEPT  Contactless         EXETER   -85.50
13                        WWW.SCREWFIX.COM         YEOVIL    -8.00
14                  amazon.co.uk*1V0BQ5084   353-12477661    -0.99
15            LIDL GB EXMOUTH  Contactless        EXMOUTH    -4.95
16    THE ATMOSPHERIC RAILWAY  Contactless  STARCROSS ,EX    -9.00
17     Zettle_*Starcross Golf  Contactless         Exeter    -7.50
18                               Readly AB        Vaexjoe    -5.99
19            MARKS & SPENCER  Contactless        EXMOUTH    -6.10
20    SQ *CROSSCOUNTRY TRAINS  Contactless       Bathpool    -2.40
21                    CRUSOES  Contactless      TYNEMOUTH   -14.10
22     GUNNER (NORTH SHIELDS)  Contactless  NORTH SHIELDS   -10.05
23          NEXUS TRAVEL SHOP  Contactless  NORTH SHIELDS   -12.40
24                       NEXUS TRAVEL SHOP  NORTH SHIELDS    -4.30
25           J D WETHERSPOON PLC  ApplePay        WATFORD   -11.67
26            LIDL GB EXMOUTH  Contactless        EXMOUTH   -21.02
27                    DIRECT DEBIT PAYMENT              0  1325.86
28                  AMAZON* 204-8484962-77     LUXEMBOURG    -9.33
29          TESCO STORES 6107  Contactless        EXMOUTH    -1.66
30                            AMZNMktplace   amazon.co.uk    -8.49
31                        NOW 800B4 Cinema         London    -1.00
32                       TESCO STORES 2490        EXMOUTH    -1.02
33                  AMAZON* 204-1158411-48     LUXEMBOURG   -29.00

      category       Tags
0   category 1  tag1 tag2
1   category 1  tag1 tag2
2   category 1  tag1 tag2
3   category 1  tag1 tag2
4   category 1  tag1 tag2
5   category 1  tag1 tag2
6   category 1  tag1 tag2
7   category 1  tag1 tag2
8   category 1  tag1 tag2
9   category 1  tag1 tag2
10  category 1  tag1 tag2
11  category 1  tag1 tag2
12  category 1  tag1 tag2
13  category 1  tag1 tag2
14  category 1  tag1 tag2
15  category 1  tag1 tag2
16  category 1  tag1 tag2
17  category 1  tag1 tag2
18  category 1  tag1 tag2
19  category 1  tag1 tag2
20  category 1  tag1 tag2
21  category 1  tag1 tag2
22  category 1  tag1 tag2
23  category 1  tag1 tag2
24  category 1  tag1 tag2
25  category 1  tag1 tag2
26  category 1  tag1 tag2
27  category 1  tag1 tag2
28  category 1  tag1 tag2
29  category 1  tag1 tag2
30  category 1  tag1 tag2
31  category 1  tag1 tag2
32  category 1  tag1 tag2
33  category 1  tag1 tag2
D:/onedrive/data/HouseHold/CreditCard/NationwideCC\05 - 24 08 2023 Statement Download start.csv
D:/onedrive/data/HouseHold/CreditCard/NationwideCC/05_output.csv
         Date  payment type                            info  \
0  2023-08-24             1  First transaction in statement
1  2023-08-25             1                          info 1
2  2023-08-25             1                          info 1
3  2023-08-27             1                          info 1
4  2023-08-29             1                          info 1
5  2023-08-30             1                          info 1
6  2023-08-30             1                          info 1
7  2023-08-31             1                          info 1
8  2023-08-31             1                          info 1
9  2023-09-02             1                          info 1
10 2023-09-04             1                          info 1
11 2023-09-05             1                          info 1
12 2023-09-05             1                          info 1
13 2023-09-07             1                          info 1
14 2023-09-07             1                          info 1
15 2023-09-08             1                          info 1
16 2023-09-08             1                          info 1
17 2023-09-08             1                          info 1
18 2023-09-09             1                          info 1
19 2023-09-10             1                          info 1
20 2023-09-10             1                          info 1
21 2023-09-10             1                          info 1
22 2023-09-11             1                          info 1
23 2023-09-11             1                          info 1
24 2023-09-13             1                          info 1
25 2023-09-14             1                          info 1
26 2023-09-14             1                          info 1
27 2023-09-14             1                          info 1
28 2023-09-15             1                          info 1
29 2023-09-15             1                          info 1
30 2023-09-18             1                          info 1
31 2023-09-18             1                          info 1
32 2023-09-18             1                          info 1
33 2023-09-18             1                          info 1
34 2023-09-19             1                          info 1
35 2023-09-20             1                          info 1
36 2023-09-21             1                          info 1
37 2023-09-21             1                          info 1
38 2023-09-21             1                          info 1
39 2023-09-23             1   Last transaction in statement

                              Transactions      Location    Paid    category  \
0                             AMZNMktplace  amazon.co.uk   -5.98  category 1
1                             AMZNMktplace  amazon.co.uk   -7.18  category 1
2             LIDL GB EXMOUTH  Contactless       EXMOUTH  -11.33  category 1
3                   DEVON AIR AMBULANCE TR      BUDLEIGH  -60.00  category 1
4               MILSONS POINT  Contactless   TORQUAY TQ2   -7.00  category 1
5                    Flamenca  Contactless        Exeter  -36.92  category 1
6      SUMUP  *DEVON MADE LTD  Contactless        EXETER  -11.40  category 1
7              Old Fire House  Contactless        Exeter   -9.55  category 1
8      TYEPYE DONG NOODLE BAR  Contactless        EXETER  -18.00  category 1